<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item ">By Author</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-fiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'books' %}?category=classic" class="dropdown-item ">Classic</a>
                <a href="{% url 'books' %}?category=crime" class="dropdown-item">Crime</a>
                <a href="{% url 'books' %}?category=drama" class="dropdown-item">Drama</a>
                <a href="{% url 'books' %}?category=horror" class="dropdown-item">Horror</a>
                <a href="{% url 'books' %}?category=mystery" class="dropdown-item">Mystery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-nonfiction-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nonfiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'books' %}?category=biography" class="dropdown-item">Biography</a>
                <a href="{% url 'books' %}?category=encyclopedia" class="dropdown-item">Encyclopedia</a>
                <a href="{% url 'books' %}?category=history" class="dropdown-item">History</a>
                <a href="{% url 'books' %}?category=philosophy" class="dropdown-item">Philosophy</a>
                <a href="{% url 'books' %}?category=science" class="dropdown-item">Science</a>
                <a href="{% url 'books' %}?category=travel" class="dropdown-item">Travel</a>
            </div>
        </li>
    </ul>
</div>